.version.contact /* version checker */
{
	color: #000002;
	background-color: #0B866D;
}

.html
{
	background: #7F7F7F url("../images/rolling_waves_mod-ultra-hd.jpg") no-repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 418px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(127,127,127,0.61),0px 0px 10px rgba(127,127,127,0.61);
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 62px;
}

#ppu201
{
	width: 0.01px;
}

#pu201
{
	z-index: 5;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 416px;
}

#u201
{
	z-index: 0;
	width: 110px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu199-4
{
	width: 0.01px;
	position: relative;
	left: 10px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 12px;
}

#u199-4
{
	z-index: 11;
	width: 94px;
	min-height: 24px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#pu202
{
	z-index: 4;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 304px;
}

#u202
{
	z-index: 0;
	width: 110px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.46;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=46)";
	filter: alpha(opacity=46);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu197-4
{
	width: 0.01px;
	position: relative;
	left: 1px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 12px;
}

#u197-4
{
	z-index: 7;
	width: 102px;
	min-height: 24px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u197-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#pu196
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u196
{
	z-index: 0;
	width: 919px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #DCDCDC;
	background-color: rgba(127,127,127,0.27);
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	position: absolute;
	top: 0px;
	bottom: 0px;
	-pie-background: rgba(127,127,127,0.27);
}

#ppu195
{
	width: 0.01px;
	position: relative;
	left: 192px;
	padding-top: 37px;
	z-index: 2;
	padding-bottom: 38px;
}

#pu195
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u195
{
	z-index: 0;
	width: 110px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu203-4
{
	width: 0.01px;
	position: relative;
	left: 27px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 11px;
}

#u203-4
{
	z-index: 15;
	width: 57px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#pu198
{
	z-index: 6;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 528px;
}

#u198
{
	z-index: 0;
	width: 104px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u201::before,#u202::before,#u195::before,#u198::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#pu200-4
{
	width: 0.01px;
	position: relative;
	left: 11px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 7px;
}

#u200-4
{
	z-index: 19;
	width: 82px;
	min-height: 28px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#ppu458-12
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 36px;
}

#pu458-12
{
	width: 0.01px;
	margin-right: -10000px;
}

#u458-12
{
	z-index: 23;
	width: 347px;
	min-height: 250px;
	background-color: transparent;
	margin-left: 9px;
	position: relative;
}

#u458-2,#u458-3,#u458-5,#u458-6,#u458-8
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #7F7F7F;
	font-style: italic;
}

#u197-4.MuseLinkActive p,#u458-9
{
	text-align: center;
}

#u733
{
	z-index: 37;
	width: 355px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: transparent;
	margin-top: 31px;
	position: relative;
}

#u727
{
	z-index: 35;
	width: 361px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 442px;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

