.version.daniel_de_hoede_ /* version checker */
{
	color: #0000EA;
	background-color: #73C655;
}

.html
{
	background: #7F7F7F url("../images/rolling_waves_mod-ultra-hd.jpg") no-repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 418px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(127,127,127,0.61),0px 0px 10px rgba(127,127,127,0.61);
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 62px;
}

#ppu595
{
	width: 0.01px;
}

#pu595
{
	z-index: 6;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 528px;
}

#u595
{
	z-index: 0;
	width: 110px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu597-4
{
	width: 0.01px;
	position: relative;
	left: 16px;
	padding-top: 7px;
	z-index: 2;
	padding-bottom: 9px;
}

#u597-4
{
	z-index: 19;
	width: 82px;
	min-height: 28px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#pu569
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u569
{
	z-index: 0;
	width: 919px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #DCDCDC;
	background-color: rgba(127,127,127,0.27);
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	position: absolute;
	top: 0px;
	bottom: 0px;
	-pie-background: rgba(127,127,127,0.27);
}

#ppu568
{
	width: 0.01px;
	position: relative;
	left: 192px;
	padding-top: 37px;
	z-index: 2;
	padding-bottom: 38px;
}

#pu568
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u568
{
	z-index: 0;
	width: 110px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu571-4
{
	width: 0.01px;
	position: relative;
	left: 29px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 11px;
}

#u571-4
{
	z-index: 15;
	width: 57px;
	min-height: 21px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u594
{
	z-index: 4;
	width: 110px;
	height: 40px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.46;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=46)";
	filter: alpha(opacity=46);
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 304px;
}

#u572
{
	z-index: 5;
	width: 110px;
	height: 40px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 416px;
}

#u595::before,#u568::before,#u594::before,#u572::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u596-4
{
	z-index: 7;
	width: 102px;
	min-height: 24px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 323px;
}

#u598-4
{
	z-index: 11;
	width: 94px;
	min-height: 24px;
	background-color: transparent;
	text-transform: none;
	line-height: 24px;
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 444px;
}

#pu570-4
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 31px;
}

#u570-4
{
	z-index: 23;
	width: 345px;
	min-height: 331px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 29px;
	font-size: 24px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u712
{
	z-index: 27;
	width: 257px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 52px;
}

#u712_clip
{
	overflow: hidden;
	width: 257px;
	height: 216px;
}

#u712_img
{
	margin-top: -53px;
	margin-bottom: -47px;
}

#u718
{
	z-index: 29;
	width: 297px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 439px;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

