.version.hobby_s /* version checker */
{
	color: #000009;
	background-color: #9D15FF;
}

.html
{
	background: #7F7F7F url("../images/rolling_waves_mod-ultra-hd.jpg") no-repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 417.7436865924859px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(127,127,127,0.61),0px 0px 10px rgba(127,127,127,0.61);
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 62.256313407514085px;
}

#ppu156
{
	width: 0.01px;
}

#pu156
{
	z-index: 5;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 416px;
}

#u156
{
	z-index: 0;
	width: 110px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu161-4
{
	width: 0.01px;
	position: relative;
	left: 12px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 12px;
}

#u161-4
{
	z-index: 11;
	width: 94px;
	min-height: 24px;
	background-color: transparent;
	text-transform: none;
	line-height: 24px;
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u161-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u161-4.MuseLinkActive p
{
	text-align: center;
}

#pu163
{
	z-index: 4;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 304px;
}

#u163
{
	z-index: 0;
	width: 110px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.46;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=46)";
	filter: alpha(opacity=46);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu158-4
{
	width: 0.01px;
	position: relative;
	left: 6px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 12px;
}

#u158-4
{
	z-index: 7;
	width: 102px;
	min-height: 24px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#pu157
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u157
{
	z-index: 0;
	width: 919px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #DCDCDC;
	background-color: rgba(127,127,127,0.27);
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	position: absolute;
	top: 0px;
	bottom: 0px;
	-pie-background: rgba(127,127,127,0.27);
}

#ppu155
{
	width: 0.01px;
	position: relative;
	left: 192px;
	padding-top: 37px;
	z-index: 2;
	padding-bottom: 38px;
}

#pu155
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u155
{
	z-index: 0;
	width: 110px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu159-4
{
	width: 0.01px;
	position: relative;
	left: 29px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 11px;
}

#u159-4
{
	z-index: 15;
	width: 57px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#pu160
{
	z-index: 6;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 528px;
}

#u160
{
	z-index: 0;
	width: 110px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u156::before,#u163::before,#u155::before,#u160::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#pu162-4
{
	width: 0.01px;
	position: relative;
	left: 16px;
	padding-top: 7px;
	z-index: 2;
	padding-bottom: 9px;
}

#u162-4
{
	z-index: 19;
	width: 82px;
	min-height: 28px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#ppu355-4
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 16px;
}

#pu355-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u355-4
{
	z-index: 23;
	width: 385px;
	min-height: 243px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 24px;
	line-height: 29px;
	position: relative;
}

#u498
{
	z-index: 31;
	width: 392px;
	min-height: 204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 40px;
	position: relative;
}

#pu491
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 585px;
}

#u491
{
	z-index: 29;
	width: 272px;
	background-color: transparent;
	position: relative;
}

#u448
{
	z-index: 27;
	width: 268px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

