.version.index /* version checker */
{
	color: #000015;
	background-color: #EE6C8C;
}

.html
{
	background: #7F7F7F url("../images/rolling_waves_mod-ultra-hd.jpg") no-repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 418px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(127,127,127,0.61),0px 0px 10px rgba(127,127,127,0.61);
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 62px;
}

#ppu90
{
	width: 0.01px;
}

#pu90
{
	z-index: 5;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 416px;
}

#u90
{
	z-index: 0;
	width: 110px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu143-4
{
	width: 0.01px;
	position: relative;
	left: 10px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 12px;
}

#u143-4
{
	z-index: 11;
	width: 94px;
	min-height: 24px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#pu89
{
	z-index: 4;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 304px;
}

#u89
{
	z-index: 0;
	width: 110px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.46;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=46)";
	filter: alpha(opacity=46);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu142-4
{
	width: 0.01px;
	position: relative;
	left: 6px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 12px;
}

#u142-4
{
	z-index: 7;
	width: 102px;
	min-height: 24px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#pu98
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u98
{
	z-index: 0;
	width: 919px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #DCDCDC;
	background-color: rgba(127,127,127,0.27);
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	position: absolute;
	top: 0px;
	bottom: 0px;
	-pie-background: rgba(127,127,127,0.27);
}

#ppu87
{
	width: 0.01px;
	position: relative;
	left: 192px;
	padding-top: 37px;
	z-index: 2;
	padding-bottom: 38px;
}

#pu87
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u87
{
	z-index: 0;
	width: 110px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu144-4
{
	width: 0.01px;
	position: relative;
	left: 29px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 11px;
}

#u144-4
{
	z-index: 15;
	width: 57px;
	min-height: 21px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u144-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u144-4.MuseLinkActive p
{
	text-align: center;
}

#u145-4
{
	z-index: 19;
	width: 82px;
	min-height: 28px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 544px;
}

#u91
{
	z-index: 6;
	width: 110px;
	height: 40px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: fixed;
	top: 57px;
	left: 548px;
}

#u90::before,#u89::before,#u87::before,#u91::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u209-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	margin-left: 225px;
	margin-top: 15px;
	position: relative;
}

#slideshowu283
{
	z-index: 27;
	width: 0.01px;
	height: 283px;
	margin-left: 531px;
	margin-top: 19px;
	position: relative;
}

#u286
{
	position: absolute;
	width: 377px;
	height: 283px;
	background-color: transparent;
}

#u286popup
{
	z-index: 28;
}

#u287
{
	z-index: 29;
	width: 377px;
	height: 283px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u287_clip
{
	overflow: hidden;
	width: 377px;
	height: 283px;
}

#u287_img
{
	margin-left: -11px;
	margin-right: -12px;
}

#u345
{
	z-index: 31;
	width: 377px;
	height: 283px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u409-4
{
	z-index: 33;
	width: 348px;
	min-height: 185px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 29px;
	font-size: 24px;
	letter-spacing: 0px;
	font-style: italic;
	margin-left: 54px;
	top: -262px;
	margin-bottom: -185px;
	position: relative;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

